/*FOR CLUBS AND SOCIETIES*/
/*for footer links*/
.links{
    display: inline-block;
}
.links:hover{
    opacity: 0.7;
}
/*CHANGING COLORS OF RIGHT FOOTER*/
.fl_right{
    color: black;
}
/*CHANGING COLORS OF LEFT FOOTER*/
.fl_left{
    color: black;
}
/*CHANGING STYLES OF LOGOUT BUTTON*/
.logoutbutton{
    color: lightgrey;
    margin-left: 580px;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    padding: 0px;
}
.logoutbutton:hover{
    color: white;
}
/*CENTERING CONTENT*/
.paragraph{
    margin-left: 190px;
    margin-right: 190px;
}