/*for personal info. tab in navigation bar*/
/* Style the tab */
li.tab {
    overflow: hidden;
    
    background-color: #4CAF50;
}

/* Style the buttons inside the tab */
li.tab button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding-bottom: 0px;
    transition: 0.3s;
    font-size: 15px;
    color: white;
    margin-top: -10px;
}

/* Change background color of buttons on hover */
li.tab button:hover {
    background-color: #3e8e41;
}

/* Create an active/current tablink class */
li.tab button.active {
    background-color: none;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
/* Style the close button */
section > ul > div .topright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}
section > ul > div .topright:hover {color: blue;}