/*for first button*/
.first {
    background-color: cornflowerblue;
    font-size: 20px;
    padding: 15px;
    border-radius: 5px;
    margin-top: -30px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 1130px;
    border-color: lightblue;
    color: white;

}
/*changing colours for first button on hover*/
.first:hover {
    background-color:darkcyan;
    border-radius: 5px;
    color: white;
}
/*for second button*/
.second {
    background-color: transparent;
    font-size: 20px;
    padding: 0px;
    border-radius: 0px;
    margin-right: 0px;
    margin-left: 1155px;
    margin-top: 30px;
    margin-bottom: 0px;
    color: white;

}
/*for changing colours of the second button on hover*/
.second:hover{
    color: darkcyan;

}
/*for footer information*/
footer {
    background-color: black;
    color: lightgrey;
    font-style: none;
    padding: 15px;
    margin-left:-10px;
    margin-right: -10px;
    margin-top: -10px;
    margin-bottom: 0px;
    font-weight: none;
    text-align: left;
    font-family: Californian FB;
}
/*LINK COLORS OF FOOTER*/
footer > a:link{
    color: lightgrey;
}
/*for background image*/
[background] {
    background-repeat: no-repeat;
    height: 650px;
    width: fit-content;
}

body > ul > li{
    display: inline;
}
/*FOR GUEST LOGINS*/
/*Using external fonts*/
@font-face {
    font-family: "Samarkan";
    src: url('fonts/SAMARN__.TTF');
}
/*FOR CUEPAMS LEFT SIDE*/
body > aside{
    color: darkslategray;
    font-size: 2.8em;
    margin-left: 25px;
    font-family: Samarkan;
}

/*FOR UPPER PARAGRAPH*/
body > section > p.uper{
   color: darkcyan;
   font-size: 2.7em;
   margin-left: 60px;
   text-align: center;
   font-family: Bradley Hand ITC;
   font-weight: bold;

}
/*FOR LOWEST PARAGRAPH*/
body > section > form > p.lower{
   color: grey;
   text-align: center;
}
/*FOR CHANGING LINK COLORS IN LOWEST PARAGRAPH*/
body > section > form > p.lower > a:link{
    color: grey;
}
/*FOR INPUT FIELDS*/
body > section > form > input.centeral{
    text-align: center;
    width: 28%;
    background-color: #4A4A4A;
    border: 0px;
    padding: 20px;
    margin-left: 480px;
}
/*FOR CHANGING PLACEHOLDER*/
body > section > form > input.centeral[placeholder]{
    color: white;
    font-size: 20px;
    border: none;
}
/*FOR CHANGING SIGN UP BUTTON*/
body > section > form > button.third{
    font-size: 20px;
    color: white;
    font-weight: bold;
    width: 28%;
    margin-left: 480px;
    padding: 20px;
    background-color: orangered;
}
/*FOR SIGNUP BUTTON ON HOVER*/
body > section > form > button.third:hover{
    background-color: red;
}
/*FOR CENTERING CHITKARA LOGO IN SIGNUP PAGE*/
#chitkaralogo {
    margin-left: 200px;
}
