body {
    color: black;
    font-family: fantasy;
    font-style: normal;
}
body > form {
    text-align: center;
    border-style: none;
    font-size: 100; 
    margin: 170px;
    padding: 60px;
    background: linear-gradient(#FFA500,#66CDAA);
}
