body > header {
    text-align: center;
    font-size: 4em;
    font-weight: bold;
}
@font-face {
    font-family: BANKGOTHIC MD BT;
    src:url('../fonts/BANKGOTHIC MD BT.TTF') format('truetype');
}
body > h1 {
    text-align: center;
    font-family: BANKGOTHIC MD BT;
    font-style: italic;
    background-color:grey;
    color: black;
    font-size: 4em;
}
html{
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
/*for cards*/
body > div > article > div > div.check {
      float: left;
      width: 33%;
      margin-bottom: 16px;
      padding: 0 8px;
      background-color: white;
}
/*for small screens*/
@media (max-width: 650px) {
    body > div > article > div  > div.check {
        width: 100%;
        display: block;
    }
}
/*for card shadow*/
body > div > article > div > div > div.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.container {
    padding: 0 16px;
}
.container::after, .correct::after {
    content: "";
    clear: both;
    display: table;
}
/*color of the title*/
.title {
    color: grey;
}
/*style for contact button*/
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: black;
    text-align: center;
    cursor: pointer;
    width: 100%
}
.button:hover {
    background-color: #555;
}
/*centering image*/
.banner {
     margin: 90px;
}
    


