/*FOR MUN EVENT*/
/*for footer links*/
.links{
    display: inline-block;
}
.links:hover{
    opacity: 0.7;
}
/*CHANGING COLORS OF RIGHT FOOTER*/
.fl_right{
    color: black;
}
/*CHANGING COLORS OF LEFT FOOTER*/
.fl_left{
    color: black;
}
/*CHANGING STYLES OF LOGOUT BUTTON*/
.logoutbutton{
    color: lightgrey;
    margin-left: 580px;
    background-color: transparent;
    border: none;
    margin-top: 0px;
    padding: 0px;
}
.logoutbutton:hover{
    color: white;
}
/*CENTERING CONTENT*/
.paragraph{
    margin-left: 190px;
    margin-right: 190px;
     word-spacing: 3.5px;
}
/*FOR POSITION OF SIDE BARS*/
.sidenav{
    margin-left: -190px;
    margin-top: -220px;
}
/*FOR SIDEBARS*/
.inline{
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -5px;
    padding: 20px;
    border: none;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    width: 135px;
}
.sidenav > a{
    color: white;
}
/*CHANGING COLORS OF SIDEBARS*/
#about{
    background-color: blue;
}
#mun{
    background-color: red;
}
#organizers{
    background-color: lightgreen;
}
#images{
    background-color: orange;
}
#venue{
    background-color: #555;
}
#contactus{
    background-color: green;
}
/*CHANGING HOVER COLOR FOR SIDEBARS*/
#about:hover,#mun:hover,#organizers:hover,#images:hover,#venue:hover,#contactus:hover{
    background-color: black;
}
/*MAKING UP BUTTON*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #95AD19;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
}
#myBtn:hover {
  background-color: #555;
}
/*MAKING RIGHTNAV*/
.rightnav{
     margin-left: -180px;
    margin-top: -200px;
    text-align: center;
}
/*CHANGING COLORS OF organised by*/
.important{
    color: red;
    font-weight: bold;
    font-size: 20px;
     margin-left: -560px;
}
/*CHANGING COLOR OF CONTENT*/
h1{
    color: black;
}
.points{
    color: black;
}
.inlineblock{
    float: left;
    margin: 5px;
}
table{
    border-width: 2px;
    border-color: gray;
    background-color: lightcyan;
}

