/*for two dropdowns in navigation  bar*/
/*first dropdown*/
.dropdown {
    position: relative;
    display: inline-block;
    background-color: #4CAF50;
}
/*setting of first dropdown*/
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #4CAF50;
    min-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}
.dropdown-content a:hover {background-color: navajowhite}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*setting of third dropdown*/
.thirddropdown {
    position: relative;
    display: inline-block;
    background-color: #4CAF50;
}
.third {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.third-content {
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 105px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.third-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block; 
}
.third-content a:hover {background-color: #f1f1f1}
.thirddropdown:hover .third-content {
    display: block;
}
.thirddropdown:hover .third {
    background-color: #3e8e41;
}

/*for main navigation bar*/
body > section > ul > li{
    display: inline-block;
    background-color: #4CAF50;
    padding-right: 68px;
    padding-left: 68px;
    padding-top: 17px;
    padding-bottom: 17px;
    color: white;
    margin-right: 0px;
    margin-left: -10px;
    margin-top: -30px;
    margin-bottom: 0px;
}
/*for navigation bar dropdown links*/
body > section > ul > li > div > a:visited{
    color: black;
}
body > section > ul > li > div > a:hover{

}
body > section > ul > li > div > a:active{

}
/*for navigation bar links*/
body > section > ul > li > a:visited{
    color: white;
}
body > section > ul > li > a:hover{
    color: red;
}
body > section > ul > li > a:active{
    color: blue;
}
